<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>Тут я, великий автор</strong>
    <small>15.04.2020</small>
  </div>

  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur at aut consequuntur corporis deleniti deserunt doloribus eligendi eos et excepturi expedita hic in laudantium libero maiores, maxime modi molestiae natus nemo nisi nulla optio perspiciatis sint sunt tempore temporibus vero! Aspernatur debitis distinctio, dolore iure nostrum perferendis perspiciatis reprehenderit.</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur at aut consequuntur corporis deleniti deserunt doloribus eligendi eos et excepturi expedita hic in laudantium libero maiores, maxime modi molestiae natus nemo nisi nulla optio perspiciatis sint sunt tempore temporibus vero! Aspernatur debitis distinctio, dolore iure nostrum perferendis perspiciatis reprehenderit.</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur at aut consequuntur corporis deleniti deserunt doloribus eligendi eos et excepturi expedita hic in laudantium libero maiores, maxime modi molestiae natus nemo nisi nulla optio perspiciatis sint sunt tempore temporibus vero! Aspernatur debitis distinctio, dolore iure nostrum perferendis perspiciatis reprehenderit.</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur at aut consequuntur corporis deleniti deserunt doloribus eligendi eos et excepturi expedita hic in laudantium libero maiores, maxime modi molestiae natus nemo nisi nulla optio perspiciatis sint sunt tempore temporibus vero! Aspernatur debitis distinctio, dolore iure nostrum perferendis perspiciatis reprehenderit.</div>
</div>
